body {
    font-family: "Roboto";
}

.nav-bar {
    display: flex;
    background-color: #1F2937;
    margin: 0px;
    padding: 10px;
}

.header-logo {
    margin-left: 100px;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 100px;
    align-items: center;
}

.header-link {
    padding-left: 20px;
    font-size: 18px;
    color: #e5E7EB;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    background-color: #1F2937;
}

.main-header-text {
    flex: 1;
}

.main-header-image {
    flex: 1;
}

.main-header-image img{
    width: 100%;
    flex: 1;
}

.main-header-text h1 {
    font-size: 48px;
    color: #F9fAf8;
    font-weight: 900;
}

.main-header-text p {
   font-size: 18px;
    color: #e5E7EB;
}

.main-header-text button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5E7EB;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.random-info h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.random-info img {
    width: 20%;
}

.info-bits {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
}